.user-menu-container {
    display: flex;
    margin: 5px 5px 5px 5px;
    border: 1px solid red;
    border-radius: 5px;
    flex-direction: row;
}

.btn-container {
    display: flex;
    flex-direction: column;
}
