@model backendProject.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="gameName" class="control-label"></label>
                <input asp-for="gameName" class="form-control" />
                <span asp-validation-for="gameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wordCount" class="control-label"></label>
                <input asp-for="wordCount" class="form-control" />
                <span asp-validation-for="wordCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minWordspeed" class="control-label"></label>
                <input asp-for="minWordspeed" class="form-control" />
                <span asp-validation-for="minWordspeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxMistakes" class="control-label"></label>
                <input asp-for="maxMistakes" class="form-control" />
                <span asp-validation-for="maxMistakes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="difficulty" class="control-label"></label>
                <select asp-for="difficulty" class="form-control"></select>
                <span asp-validation-for="difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
